.spinner{
    animation: spin 1s linear infinite;
}
@keyframes spin{
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.country-card{
    background-color: beige;
    padding: 20px;
    border: 1px solid black;
    margin: 20px auto;
    border-radius: 10px;
}
.border-grid{
    display: flex;
    border: 1px solid black;
    border-radius: 10px;
    background-color: beige;
    margin: 20px auto;
    width: 45%;

}
.error {
    color: red;
    border: 1px solid red;
    border-radius: 5px;
    padding: 10px;
    margin: 20px auto;
    width:250px;
    background-color: yellow;
}
.hidden{
    display: none;
}