.spinner{
    animation: spin 1s linear infinite;
}
@keyframes spin{
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.country-card{
    background-color: beige;
    padding: 20px;
    border: 1px solid black;
    margin: 20px auto;
}
.border-grid{
    display: grid;

}
.error {
    color: red;
    /* Additional styling */
}
.hidden{
    display: none;
}